::-webkit-scrollbar {
    width: 0px;
}

body {
    background: rgba(47, 53, 66, 0.9);
}

header {
    background: rgba(47, 53, 66, 0.8);
    box-shadow: 1px 2px 3px black;
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    top: 0;
}

header > img {
    position: absolute;
    left: 49px;
    top: 7px;
    border-radius: 100%;
    object-fit: cover;
}

header > nav {
    position: absolute;
    right: 40px;
    top: 0;
}

header > nav > ul {
    margin-top: 5px;
}

header > nav > ul > li {
    display: inline-block;
    list-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
}

main > section:first-child {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/background.jpg");
    background-size: cover;
}

main > section:first-child > aside {
    position: absolute;
    margin-top: 265px;
    margin-left: 97px;
    color: white;
}

main > section:first-child > aside > h1 {
    margin-top: 0;
    font-size: 48px;
}

main > section:first-child > aside > h2 {
    margin-top: 90px;
    font-size: 30px;
}

main > section:first-child > aside > h3 {
    margin-top: 45px;
}

main > section:first-child > aside > div {
    width: 230px;
    height: 57px;
    background: rgba(251, 251, 251, 0.38);
    border-radius: 8px;
}

main > section:first-child > aside > div > img {
    margin-top: 6px;
    margin-bottom: 6.35px;
    width: 42.86px;
    height: 42.57px;
    cursor: pointer;
}

main > section:first-child > aside > div {
    display: flex;
    justify-content: space-between;
}

main > section:first-child > aside > div > img:nth-child(1){
    margin-left: 5px;
    width: 70px;
}

main > section:first-child > aside > div > img:nth-child(2){
    margin-top: 3px;
    margin-right: 8px;
    width: 60px;
    height: 54px;
}

main > section:first-child > aside > div > img:nth-child(3){
    margin-right: 15px;
}

main > section:first-child > img {
    position: absolute;
    right: 96px;
    bottom: 74px;
    filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    object-fit: cover;
}

main > section:nth-child(2) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(2) > section:first-child {
    display: flex;
    justify-content: center;
}

main > section:nth-child(2) > section:first-child > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 58px;
    color: white;
}