::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(18, 24, 36, 0.9);
    font-family: 'Inter', sans-serif;
}

header {
    background: rgba(47, 53, 66, 0.8);
    box-shadow: 1px 2px 3px black;
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    top: 0;
}

header > img {
    position: absolute;
    left: 49px;
    top: 7px;
    border-radius: 100%;
    object-fit: cover;
}

header > nav {
    position: absolute;
    right: 40px;
    top: 0;
}

header > nav > ul {
    margin-top: 5px;
}

header > nav > ul > li {
    display: inline-block;
    list-style: none;
    color: #FFFFFF;
    /*cursor: pointer;*/
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
}

header > nav > ul > li > a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: #028cf6;
}

main > section:first-child {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/background.jpg");
    background-size: cover;
}

main > section:first-child > aside {
    position: relative;
    display: inline-block;
    top: 114px;
    left: 35px;
    color: white;
}

main > section:first-child > aside > h1 {
    margin-top: 0;
    font-size: 48px;
}

main > section:first-child > aside > h2 {
    margin-top: 90px;
    font-size: 30px;
}

main > section:first-child > aside > h3 {
    margin-top: 45px;
}

main > section:first-child > aside > div {
    width: 230px;
    height: 57px;
    background: rgba(251, 251, 251, 0.38);
    border-radius: 8px;
}

main > section:first-child > aside > div > img {
    margin-top: 6px;
    margin-bottom: 6.35px;
    width: 42.86px;
    height: 42.57px;
    cursor: pointer;
}

main > section:nth-child(1) > div:nth-child(3) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(0.04deg);
}

main > section:first-child > aside > div {
    display: flex;
    justify-content: space-between;
}

main > section:first-child > aside > div > img:nth-child(1) {
    margin-left: 5px;
    width: 70px;
}

main > section:first-child > aside > div > img:nth-child(2) {
    margin-top: 6px;
    margin-right: 8px;
    width: 52.86px;
    height: 50.86px;
}

main > section:first-child > aside > div > img:nth-child(3) {
    margin-right: 15px;
}

main > section:first-child > img {
    position: relative;
    top: 107px;
    left: 230px;
    filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    object-fit: cover;
}

main > section:nth-child(2) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(2) > div {
    display: flex;
    justify-content: center;
}

main > section:nth-child(2) > div > h2 {
    font-weight: 400;
    font-size: 55px;
    line-height: 58px;
    color: white;
}

main > section:nth-child(2) > section:nth-child(2) {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
}

main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {
    margin-left: 100px;
}

main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

main > section:nth-child(2) > section:nth-child(2) > div {
    background: rgba(32, 241, 241, 0.15);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 437px;
    height: 304px;
    margin-right: 181px;
    margin-top: 46px;
}

main > section:nth-child(2) > section:nth-child(2) > div > p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 41px;
    margin-top: 71px;
    margin-right: 18px;
    margin-bottom: 75px;
}

main > section:nth-child(2) > div:nth-child(3) > button {
    background: rgba(10, 245, 62, 0.69);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 199px;
    height: 52px;
    margin-top: 100px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.98);
    border: 1px solid #000000;
    cursor: pointer;
}

main > section:nth-child(2) > div:nth-child(3) > button > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.98);
}

main > section:nth-child(2) > div:nth-child(3) > button:hover {
    background: rgba(189, 186, 6, 0.69);
    width: 210px;
    transition-property: width;
    transition-duration: 1s;
}

main > section:nth-child(2) > div:nth-child(4) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);

}

main > section:nth-child(3) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(3) > section:nth-child(1) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(3) > section:nth-child(1) > h2 {
    margin-top: 82px;
    margin-bottom: 85px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    color: #FFFFFF;
}

main > section:nth-child(3) > section:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) {
    width: 420px;
    height: 362px;
    background: rgba(76, 209, 55, 0.5);
    border-radius: 15px;
    filter: blur(0.5px);
    color: white;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) {
    width: 420px;
    height: 362px;
    background: rgba(0, 168, 255, 0.5);
    border-radius: 15px;
    filter: blur(0.5px);
    color: white;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) {
    width: 420px;
    height: 362px;
    background: rgba(232, 65, 24, 0.5);
    border-radius: 15px;
    filter: blur(0.5px);
    color: white;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > img {
    position: relative;
    width: 55px;
    height: 65px;
    left: 40px;
    top: 58.11px;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > img {
    position: relative;
    left: 40px;
    top: 58.11px;
}

main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > img {
    position: relative;
    left: 40px;
    top: 58.11px;
}

main > section:nth-child(3) > section:nth-child(2) > div > h3 {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

main > section:nth-child(3) > section:nth-child(2) > div > p {
    position: relative;
    display: inline-block;
    left: 50px;
    top: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F5F6FA;
}

main > section:nth-child(3) > div:nth-child(3) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);
}

main > section:nth-child(4) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(4) > section:nth-child(1) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(4) > section:nth-child(1) > h2 {
    margin-top: 88.92px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

main > section:nth-child(4) > section:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

main > section:nth-child(4) > section:nth-child(2) > div {
    width: 398px;
    height: 207px;
    background: rgba(39, 60, 117, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(1) > img {
    width: 135px;
    height: 126.36px;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(2) > div > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F86565;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2px;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(4) > section:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
}

main > section:nth-child(4) > section:nth-child(2) > div:nth-child(3) > img {
    width: 165.96px;
    height: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main > section:nth-child(4) > section:nth-child(3) > div {
    margin-top: 49px;
    width: 398px;
    height: 207px;
    background: rgba(39, 60, 117, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main > section:nth-child(4) > section:nth-child(3) > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) > img {
    width: 120px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) > img {
    width: 120px;
}

main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) > img {
    width: 85px;
    height: 95px;
}

main > section:nth-child(4) > div:nth-child(4) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);
}

main > section:nth-child(5) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(5) > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(5) > div:nth-child(1) > h2 {
    margin-top: 55px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

main > section:nth-child(5) > section:nth-child(2) {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

main > section:nth-child(5) > section:nth-child(2) > div {
    display: flex;
    justify-content: center;
    width: 337.67px;
    height: 364px;

    background: rgba(217, 217, 217, 0.4);
    border-radius: 10px;
}

main > section:nth-child(5) > section:nth-child(2) > div > div > img {
    margin-top: 37px;
    width: 284px;
    height: 196px;
}

main > section:nth-child(5) > div:nth-child(3) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(5) > div:nth-child(3) > button {
    width: 199px;
    height: 52px;
    margin-top: 50px;
    background: rgba(10, 245, 62, 0.69);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.98);
    border: 1px solid #000000;
}

main > section:nth-child(5) > div:nth-child(4) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);
}

.project-content {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

main > section:nth-child(6) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(6) > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(6) > div:nth-child(1) > h2 {
    margin-top: 55px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.secondary {
    width: 440px;
    height: 128px;
    background: rgba(232, 65, 24, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.edu {
    display: flex;
    justify-content: center;
    height: 75%;
}

#secondary-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#right-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.higher {
    width: 440px;
    height: 128px;
    background: rgba(0, 168, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.primary {
    width: 440px;
    height: 128px;
    background: rgba(251, 197, 49, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#education-lines {
    display: flex;
    justify-content: center;
    width: 85px;
}

.main-line {
    position: relative;
    right: 1px;
    width: 463px;
    height: 0px;
    border: 4px solid #4CD137;
    transform: rotate(90deg);
}

.left-line {
    position: relative;
    left: 230px;
    width: 27px;
    height: 0px;
    border: 4px solid #4CD137;
}

#left-lines {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-lines {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#right-lines {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-line-1 {
    position: relative;
    right: 233px;
    top: 51px;
    width: 31px;
    height: 0px;
    border: 4px solid #4CD137;
}

.right-line-2 {
    position: relative;
    right: 233px;
    bottom: 62px;
    width: 30px;
    height: 0px;
    border: 4px solid #4CD137;
}

.secondary > h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
}

.secondary > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.secondary > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.higher > h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.higher > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.higher > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.primary > h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.primary > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.primary > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

main > section:nth-child(6) > div:nth-child(3) {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);
}

main > section:nth-child(7) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section:nth-child(7) > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

main > section:nth-child(7) > div:nth-child(1) > h2 {
    margin-top: 85px;
    margin-bottom: 66px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

main > section:nth-child(7) > section:nth-child(2) > aside {
    position: relative;
    width: 35%;
    height: 632.99px;
    left: 70px;
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > img {
    margin-left: 38px;
    margin-top: 49px;
    width: 365px;
    height: 254px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 53px;
    margin-top: 43px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 53px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > h6 {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 53px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > div {
    display: flex;
    justify-content: center;
}

main > section:nth-child(7) > section:nth-child(2) > aside > div > img {
    margin-left: 10px;
    margin-right: 10px;
}

main > section:nth-child(7) > section:nth-child(2) > aside > div > img:nth-child(1) {
    width: 68px;
    height: 42.57px;
    cursor: pointer;
    margin-left: 0;
}

main > section:nth-child(7) > section:nth-child(2) > aside > div > img:nth-child(2) {
    width: 52.86px;
    height: 50.86px;
    cursor: pointer;
}

main > section:nth-child(7) > section:nth-child(2) > aside > div > img:nth-child(3) {
    width: 42.86px;
    height: 45px;
    cursor: pointer;
}

main > section:nth-child(7) > section:nth-child(2) {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
}

main > section:nth-child(7) > section:nth-child(2) > form {
    position: relative;
    /*right: 171px;*/
    /*top: 0;*/
    width: 43%;
    height: 632.99px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.97);
}

main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(1) {
    margin-top: 55px;
}

main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(2) {
    margin-top: 30px;
}

main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(3) {
    margin-top: 30px;
}

main > section:nth-child(7) > section:nth-child(2) > form > div {
    display: flex;
    justify-content: space-evenly;
}

#clientName, #phone, #clientEmail, #clientSubject {
    width: 90%;
    height: 38.57px;
    margin-top: 10px;
    background: #FFFEFE;
    border-radius: 7px;
    border: none;
    outline: none;
}

#clientMsg {
    width: 78%;
    height: 212.65px;
    margin-top: 10px;
    background: #FFFEFE;
    border-radius: 7px;
    border: none;
    padding-top: 10px;
    outline: none;
}

.contactMassage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactDetails > input {
    padding-left: 25px;
}

.contactMassage > textarea {
    padding-left: 25px;

}

main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(4) > button {
    width: 173px;
    height: 32px;
    margin-top: 38px;
    background: rgba(227, 243, 44, 0.73);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.56);

    cursor: pointer;
}

footer {
    margin-top: 200px;
    position: relative;
    width: 100vw;
    height: 35vh;
}

footer > div {
    position: absolute;
    width: 90vw;
    height: 0px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 1px rgba(69, 69, 69, 1);
    transform: rotate(0.04deg);
}

footer > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    object-fit: cover;
    border-radius: 100%;
}

footer > p {
    position: relative;
    top: 115px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    color: #FFFFFF;
}

/*media Queries*/
@media all and (min-width: 1536px) {
    main > section:first-child > aside {
        top: 201px;
        left: 65px;
    }

    main > section:first-child > img {
        position: relative;
        top: 214px;
        left: 280px;
    }

    header > nav > ul {
        margin-top: 2px;
        margin-bottom: 0px;
        left: 32px;
        position: relative;
    }

    header > nav > ul > li > a {
        font-size: 18px;
    }
}

@media all and (max-width: 1486px) {
    header > nav > ul {
        margin-top: 2px;
        margin-bottom: 0px;
        left: 32px;
        position: relative;
    }

    header > nav > ul > li > a {
        font-size: 18px;
    }

    main > section:nth-child(2) > div {
        height: 20%;
    }

    main > section:nth-child(2) > div:nth-child(3) > button {
        margin-top: 30px;
    }

    main > section:nth-child(3) > section:nth-child(1) {
        height: 20%;
    }

    main > section:nth-child(3) > section:nth-child(1) > h2 {
        margin-top: 30px;
    }

    main > section:nth-child(4) > section:nth-child(1) {
        height: 20%;
    }

    main > section:nth-child(4) > section:nth-child(1) > h2 {
        margin-top: 33.92px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div {
        margin-top: 15px;
    }

    main > section:nth-child(5) > div:nth-child(1) {
        height: 20%;
    }

    main > section:nth-child(5) > div:nth-child(1) > h2 {
        margin-top: 35px;
    }

    main > section:nth-child(5) > section:nth-child(2) {
        margin-top: 0px;
    }

    main > section:nth-child(5) > div:nth-child(3) > button {
        margin-top: 28px;
    }

    main > section:nth-child(6) > div:nth-child(1) {
        height: 20%;
    }

    main > section:nth-child(6) > div:nth-child(1) > h2 {
        margin-top: 20px;
    }

    main > section:nth-child(7) > div:nth-child(1) {
        height: 20%;
    }

    main > section:nth-child(7) > div:nth-child(1) > h2 {
        margin-top: 28px;
    }
}

@media all and (max-width: 1386px) {
    main > section:first-child > img {
        left: 100px;
    }

    main > section:nth-child(2) > section:nth-child(2) > div {
        margin-right: 150px;
    }

    #clientMsg {
        width: 83%;
    }

    /*.right-line-1 {*/
    /*    top: 177px;*/
    /*}*/
    /*.right-line-2 {*/
    /*    bottom: 177px;*/
    /*}*/
    /*.higher {*/
    /*    position: relative;*/
    /*    top: 114px;*/
    /*}*/
    /*.primary {*/
    /*    position: relative;*/
    /*    bottom: 114px;*/
    /*}*/
    /*main > section:nth-child(7) > section:nth-child(2) > form {*/
    /*    left: 22px;*/
    /*}*/
    /*main > section:nth-child(7) > section:nth-child(2) > aside {*/
    /*    left: 64px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > div {*/
    /*    margin-right: 100px;*/
    /*}*/
}

@media all and (max-width: 1287px) {
    main > section:nth-child(2) > section:nth-child(2) > div {
        margin-right: 50px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > img {
        width: 50%;
        height: 20%;
    }

    footer {
        margin-top: 220px;
    }

    main > section:first-child > aside > h2 {
        margin-top: 30px;
        font-size: 20px;
    }

    main > section:first-child > aside > h1 {
        font-size: 40px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) {
        width: 340px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) {
        width: 340px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) {
        width: 340px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > h3 {
        font-size: 22px;
        left: -18px;
        top: 92px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > h3 {
        font-size: 22px;
        left: -18px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > h3 {
        font-size: 22px;
        left: -18px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > p {
        font-size: 12px;
        left: 45px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > p {
        font-size: 12px;
        left: 45px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > p {
        font-size: 12px;
        left: 45px;
    }

    #clientMsg {
        width: 86%;
    }

    main > section:nth-child(7) > section:nth-child(2) > form {
        width: 50%;
    }
    main > section:nth-child(2) > section:nth-child(2) > div > p {
        font-size: 20px;
        margin-left: 41px;
        margin-top: 97px;
        margin-right: 18px;
        margin-bottom: 75px;
    }
}

@media all and (max-width: 1185px) {
    main > section:nth-child(4) > section:nth-child(2) > div {
        width: 30%;
    }

    main > section:nth-child(4) > section:nth-child(3) > div {
        width: 30%;
    }

    #clientName, #phone, #clientEmail, #clientSubject {
        width: 75%;
    }

    #clientMsg {
        width: 91%;
    }
}

@media all and (max-width: 1137px) {
    main > section:first-child > img {
        left: 50px;
    }

    .contactDetails {
        margin-left: 15px;
    }

    #clientMsg {
        width: 86%;
    }
}

@media all and (max-width: 1088px) {
    main > section:first-child > aside {
        top: 2px;
    }

    main > section:first-child > img {
        left: 80px;
    }

    main > section:first-child > aside > h1 {
        font-size: 30px;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {
        margin-left: 45px;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > h2 {
        font-size: 35px;
    }
}

@media all and (max-width: 1014px) {
    main > section:nth-child(2) > section:nth-child(2) > div {
        margin-right: 16px;
    }

    main > section:nth-child(2) > div:nth-child(3) > button {
        margin-top: 30px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) {
        width: 250px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) {
        width: 250px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) {
        width: 250px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > h3 {
        font-size: 19px;
        left: 30px;
        top: 44px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > h3 {
        font-size: 19px;
        left: -20px;
        top: 100px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > h3 {
        font-size: 19px;
        left: -20px;
        top: 100px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > p {
        left: 30px;
        top: 50px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > p {
        left: 8px;
        top: 110px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > p {
        left: 30px;
        top: 110px;
    }

    main > section:nth-child(5) > section:nth-child(2) > div {
        width: 300px;
        height: 342px;
    }

    main > section:nth-child(5) > section:nth-child(2) > div > div > img {
        margin-top: 45px;
        width: 250px;
        height: 190px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > h3 {
        margin-left: 25px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > p {
        margin-left: 25px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > h6 {
        margin-left: 25px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside {
        margin-left: -20px;
    }
}

@media all and (max-width: 981px) {
    header > nav > ul {
        margin-top: 2px;
        margin-bottom: 0px;
        left: 32px;
        position: relative;
    }

    header > nav > ul > li > a {
        font-size: 15px;
    }

    main > section:nth-child(2) > div:nth-child(3) > button {
        margin-top: 0px;
    }

    main > section:first-child > img {
        left: 65px;
    }

    main > section:first-child > img {
        left: 50px;
        width: 300px;
        height: 300px;
        top: 250px;
    }

    main > section:first-child > aside {
        top: 80px;
        left: 80px;
    }

    .secondary {
        width: 375px;
    }

    .higher {
        width: 375px;
    }

    .primary {
        width: 375px;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside {
        width: 30%;
        margin-left: -20px;
    }
}

@media all and (max-width: 921px) {
    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {
        width: 43%;
    }
    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > p {
        font-size: 14px;
        line-height: 16px;
    }
}

@media all and (max-width: 400px) {
    #navbar {
        display: none;
    }

    header > img {
        left: 20px;
    }

    main > section:first-child > aside > h1 {
        font-size: 25px;
    }

    main > section:first-child > aside {
        /*margin-left: 19px;*/
        bottom: 77px;
        top: 285px;
    }

    main > section:first-child > aside > h2 {
        margin-top: 28px;
    }

    main > section:first-child > img {
        /*right: 10px;*/
        /*width: 378px;*/
        /*height: 418px;*/
        /*top: 126px;*/
        /*border-radius: 55px;*/
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {
        /*margin-left: 24px;*/
    }

    main > section:nth-child(2) > section:nth-child(2) {
        display: inline-block;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > h2 {
        font-size: 48px;
        position: relative;
        display: inline-block;
        left: 34px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > p {
        width: 325px;
        font-size: 15px;
        line-height: 30px;
    }

    main > section:nth-child(2) > section:nth-child(2) > div {
        width: 378px;
        height: 200px;
        margin-top: 34px;
        position: relative;
        margin-left: 10px;
        bottom: 22px;
    }

    main > section:nth-child(2) > section:nth-child(2) > div > p {
        position: relative;
        top: 34px;
        width: 237px;
        font-size: 15px;
    }

    main > section:nth-child(2) > div:nth-child(3) > button {
        margin-top: 45px;
    }

    main > section:nth-child(3) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) {
        width: 378px;
        height: 245px;
        /*margin-left: 10px;*/
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) {
        width: 378px;
        height: 245px;
        /*margin-left: 10px;*/
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) {
        width: 378px;
        height: 245px;
        /*margin-left: 10px;*/
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div > h3 {
        left: 21px;
        top: 0;
        font-size: 25px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div > p {
        left: 19px;
        top: 0px;
        font-size: 17px;
    }

    main > section:nth-child(4) > section:nth-child(2) {
        position: relative;
        left: 5px;
        display: block;
    }

    main > section:nth-child(4) > section:nth-child(2) > div {
        width: 378px;
        height: 130px;
        margin-bottom: 8px;
    }

    main > section:nth-child(4) > section:nth-child(3) {
        position: relative;
        left: 5px;
        display: block;
    }

    main > section:nth-child(4) > section:nth-child(3) > div {
        margin-top: 0;
        width: 378px;
        height: 130px;
        margin-bottom: 8px;
    }

    main > section:nth-child(5) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(5) > section:nth-child(2) {
        margin-top: 0;
    }

    main > section:nth-child(5) > section:nth-child(2) > div > div > img {
        margin-top: 25px;
        width: 280px;
        height: 150px;
    }

    main > section:nth-child(5) > section:nth-child(2) > div {
        width: 378px;
        height: 260px;
        margin-bottom: 10px;
        /*margin-left: 10px;*/
    }

    main > section:nth-child(5) > div:nth-child(3) > button {
        margin-top: 28px;
    }

    #education-lines {
        display: none;
    }

    .higher {
        width: 378px;
        height: 150px;
        top: 200px;
        right: 9px;
    }

    .secondary {
        width: 378px;
        height: 150px;
        bottom: 0;
        top: 0px;
        left: 10px;
        margin: auto;
    }

    .primary {
        width: 378px;
        height: 150px;
        bottom: 200px;
        right: 10px;
        margin: auto;
    }

    main > section:nth-child(7) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside {
        width: 378px;
        height: 380px;
        padding-top: 1px;
        /*margin-left: 10px;*/
        left: 0;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > img {
        display: none;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > h3 {
        font-size: 24px;
        /*margin-left: 37px;*/
        margin-top: 61px;
    }

    main > section:nth-child(7) > div:nth-child(1) > h2 {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form {
        width: 378px;
        height: 660.99px;
        margin-left: 10px;
    }

    main > section:nth-child(7) > section:nth-child(2) {
        margin-right: 0px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div {
        display: block;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div > div {
        /*margin-left: 8px;*/
        margin-bottom: 10px;
    }

    #clientMsg {
        width: 330px;
        height: 160px;
    }

    #clientName, #phone, #clientEmail, #clientSubject {
        width: 330px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(1) {
        padding-top: 15px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(4) > button {
        margin-top: 13px;
        /*margin-left: 95px;*/
    }

    footer {
        height: 30vh;
    }
}

@media all and (max-width: 320px) {
    #navbar {
        display: none;
    }

    header > img {
        left: 20px;
    }

    main > section:first-child > aside > h1 {
        font-size: 25px;
    }

    main > section:first-child > aside {
        margin-left: 19px;
        bottom: 77px;
    }

    main > section:first-child > img {
        right: 10px;
        width: 293px;
        height: 418px;
        top: 126px;
        border-radius: 55px;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {
        padding-left: 10px;
        margin-left: 24px;
    }

    main > section:nth-child(2) > section:nth-child(2) {
        display: inline-block;
        width: 100%;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > h2 {
        font-size: 48px;
        position: relative;
        display: inline-block;
        left: 34px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > p {
        width: 100%;
        font-size: 15px;
        line-height: 30px;
    }

    main > section:nth-child(2) > section:nth-child(2) > div {
        width: 293px;
        height: 190px;
        margin-top: 34px;
        position: relative;
        margin-left: 10px;
        bottom: 22px;
    }

    main > section:nth-child(2) > section:nth-child(2) > div > p {
        position: relative;
        top: 34px;
        width: 237px;
        font-size: 15px;
    }

    main > section:nth-child(2) > div:nth-child(3) > button {
        margin-top: 28px;
    }

    main > section:nth-child(3) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) {
        width: 300px;
        height: 245px;
        margin-left: 10px;
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) {
        width: 300px;
        height: 245px;
        margin-left: 10px;
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) {
        width: 300px;
        height: 245px;
        margin-left: 10px;
        margin-bottom: 22px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(1) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(2) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div:nth-child(3) > img {
        left: 25px;
        top: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div > h3 {
        margin-bottom: 5px;
        left: 21px;
        top: 0;
        font-size: 25px;
    }

    main > section:nth-child(3) > section:nth-child(2) > div > p {
        left: 19px;
        top: 0px;
        font-size: 18px;
    }

    main > section:nth-child(4) > section:nth-child(2) {
        position: relative;
        left: 5px;
        display: block;
    }

    main > section:nth-child(4) > section:nth-child(2) > div {
        width: 300px;
        height: 130px;
        margin-bottom: 8px;
    }

    main > section:nth-child(4) > section:nth-child(3) {
        position: relative;
        left: 5px;
        display: block;
    }

    main > section:nth-child(4) > section:nth-child(3) > div {
        margin-top: 0;
        width: 300px;
        height: 130px;
        margin-bottom: 8px;
    }

    main > section:nth-child(5) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(5) > section:nth-child(2) {
        margin-top: 0;
    }

    main > section:nth-child(5) > section:nth-child(2) > div > div > img {
        margin-top: 25px;
        width: 200px;
        height: 150px;
    }

    main > section:nth-child(5) > section:nth-child(2) > div {
        width: 300px;
        height: 260px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    main > section:nth-child(5) > div:nth-child(3) > button {
        margin-top: 28px;
    }

    #education-lines {
        display: none;
    }

    .higher {
        width: 300px;
        height: 150px;
        top: 200px;
        right: 9px;
    }

    .secondary {
        width: 300px;
        height: 150px;
        bottom: 0;
        top: 0px;
        left: 10px;
        margin: auto;
    }

    .primary {
        width: 300px;
        height: 150px;
        bottom: 200px;
        right: 10px;
        margin: auto;
    }

    main > section:nth-child(7) > section:nth-child(2) {
        display: block;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside {
        width: 300px;
        height: 380px;
        padding-top: 1px;
        margin-left: 10px;
        left: 0;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > img {
        display: none;
    }

    main > section:nth-child(7) > section:nth-child(2) > aside > h3 {
        font-size: 24px;
        margin-left: 37px;
        margin-top: 61px;
    }

    main > section:nth-child(7) > div:nth-child(1) > h2 {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form {
        width: 300px;
        height: 660.99px;
        margin-left: 10px;
    }

    main > section:nth-child(7) > section:nth-child(2) {
        margin-right: 0px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div {
        display: block;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div > div {
        margin-left: 8px;
        margin-bottom: 10px;
    }

    #clientMsg {
        width: 250px;
        height: 160px;
    }

    #clientName, #phone, #clientEmail, #clientSubject {
        width: 250px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(1) {
        padding-top: 15px;
    }

    main > section:nth-child(7) > section:nth-child(2) > form > div:nth-child(4) > button {
        margin-top: 13px;
        margin-left: 50px;
    }

    footer {
        height: 30vh;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    /*#navbar {*/
    /*    display: none;*/
    /*}*/
    /*header > img {*/
    /*    left: 25px;*/
    /*}*/
    /*main > section:first-child > aside > h1 {*/
    /*    font-size: 25px;*/
    /*}*/
    /*main > section:first-child > aside {*/
    /*    margin-left: 19px;*/
    /*    bottom: 77px;*/
    /*}*/
    /*main > section:first-child > img {*/
    /*    right: 10px;*/
    /*    width: 405px;*/
    /*    height: 418px;*/
    /*    top: 126px;*/
    /*    border-radius: 55px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) {*/
    /*    margin-left: 24px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) {*/
    /*    display: inline-block;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > h2 {*/
    /*    font-size: 48px;*/
    /*    position: relative;*/
    /*    display: inline-block;*/
    /*    left: 34px;*/
    /*    margin-top: 20px;*/
    /*    margin-bottom: 20px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > article:nth-child(1) > p {*/
    /*    width: 392px;*/
    /*    font-size: 15px;*/
    /*    line-height: 30px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > div {*/
    /*    width: 405px;*/
    /*    height: 245px;*/
    /*    margin-top: 34px;*/
    /*    position: relative;*/
    /*    margin-left: 10px;*/
    /*    bottom: 22px;*/
    /*}*/
    /*main > section:nth-child(2) > section:nth-child(2) > div > p {*/
    /*    position: relative;*/
    /*    top: 65px;*/
    /*    width: 300px;*/
    /*    font-size: 20px;*/
    /*}*/
    /*main > section:nth-child(2) > div:nth-child(3) > button {*/
    /*    margin-top: 45px;*/
    /*}*/
}




















