.card{
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    position: relative;
    height: 410px;
}
.container-fluid{
    width: 90%;
}
.card>div{
    display: flex;
    justify-content: center;
}
.card>div>img{
    margin-top: 5px;
    width: 80px;
    height: 80px;
}