body {
    background: #f2edf3;
}

/*login page Styles Start*/

.card {
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    position: relative;
    height: 410px;
}

.container-fluid {
    width: 90%;
}

.card > div {
    display: flex;
    justify-content: center;
}

.card > div > img {
    margin-top: 5px;
    width: 80px;
    height: 80px;
}

/*login page Styles end*/

/*dashboard styles Started*/

.dash-col {
    height: 200px;
}

.dash-2col {
    height: 150px;
    align-items: center;
    margin-top: 10px;
    background: #fff;
    transition: .4s;
}

.table-style {
    background: #fff;
}

#table-1 {
    padding-left: 0px;
}

.dash-2col:hover{
    transform: scale(1.02);
    z-index: 1;
}
#card-1-items{

}
@media (max-width: 1199px) {
    #card-2 {
        padding-right: 0px;
    }

    #table-1{
        padding-right: 0px;
    }
}

@media (max-width: 576px) {
    #card-1 {
        padding-right: 0px;
    }

    #card-3 {
        padding-right: 0px;
    }

}

/*dashboard styles End*/

/*Item Page*/

#seachIconItem{
    position: relative;
    left: 25px;
}
#searchItemInput{
    padding-left: 28px;
}

#seachCustomerIcon{
    position: relative;
    left: 25px;
}
#searchCustomerInput{
    padding-left: 28px;
}


/*body{*/
/*background: #f2edf3;*/
/*}*/
/*!*login page Styles Start*!*/

/*.card{*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 100px;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    position: relative;*/
/*    height: 410px;*/
/*}*/
/*.container-fluid{*/
/*    width: 90%;*/
/*}*/
/*.card>div{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.card>div>img{*/
/*    margin-top: 5px;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*}*/
/*!*login page Styles end*!*/

/*!*dashboard styles Started*!*/

/*.dash-col{*/
/*    height: 200px;*/
/*}*/
/*.dash-2col{*/
/*    height: 150px;*/
/*    align-items: center;*/
/*    margin-top: 10px;*/
/*    background:  #fff;*/
/*}*/
/*.table-style{*/
/*    background:  #fff;*/
/*}*/

/*!*dashboard styles End*!*/